<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
		
	<bean id="AuthorityData" class="cn.greatwebtech.dao.AuthorityData">
		<property name="driver" value="com.mysql.jdbc.Driver"></property>
		<property name="dburl" value="jdbc:mysql://132.232.0.149:3306/zzblogo?zeroDateTimeBehavior=round"></property>
		<property name="user" value="Mikelian"></property>
		<property name="password" value="123456"></property>
		<property name="tables" value="ml_switch,securitypro,ac,ap,h_router,h_switch,ml_router"></property>
	</bean>
	<bean id="TestRecordDAO" class="cn.greatwebtech.dao.impl.TestRecordDaoImpl">
		<property name="authorityData" ref="AuthorityData"></property>
	</bean>
	<bean id="TestCountDAO" class="cn.greatwebtech.dao.impl.TestCountDaoImpl">
		<property name="authorityData" ref="AuthorityData"></property>
	</bean>
	<bean id="DealQueryString" class="cn.greatwebtech.service.impl.DealQueryString">	
		<property name="tables" value="ml_switch,securitypro,ac,ap,h_router,h_switch,ml_router"></property>
	</bean>
	<bean id="TestRecordService" class="cn.greatwebtech.service.impl.TestRecordServiceImpl">
		<property name="testDB" ref="TestRecordDAO"></property>
		<property name="dealQS" ref="DealQueryString"></property>
	</bean>
	<bean id="TestLogService" class="cn.greatwebtech.service.impl.TestLogServiceImpl">
		<property name="testDB" ref="TestRecordDAO"></property>
		<property name="dealQS" ref="DealQueryString"></property>
	</bean>
	<bean id="TestCountService" class="cn.greatwebtech.service.impl.TestCountServiceImpl">
		<property name="testDB" ref="TestCountDAO"></property>
		<property name="dealQS" ref="DealQueryString"></property>
	</bean>
	<bean id="SelectCountService" class="cn.greatwebtech.service.impl.SelectCountServiceImpl">
		<property name="testDB" ref="TestRecordDAO"></property>
		<property name="dealQS" ref="DealQueryString"></property>
	</bean>
	<bean id="PackageTestLogs" class="cn.greatwebtech.service.impl.PackageTestLogs">
		<property name="testDB" ref="TestRecordDAO"></property>
		<property name="dealQS" ref="DealQueryString"></property>
	</bean>
	<bean id="SumTestRecordService" class="cn.greatwebtech.service.impl.SumTestRecordImpl">
		<property name="testDB" ref="TestRecordDAO"></property>
	</bean>
	<bean id="LogFormatter" class="cn.greatwebtech.logger.LogFormatter"></bean>
	<bean id="LogQueryStr" class="cn.greatwebtech.logger.LogQueryStr">
		<property name="logFormatter" ref="LogFormatter"></property>
	</bean>
	<bean id="LogExceptions" class="cn.greatwebtech.logger.LogExceptions">
		<property name="exceptionFormatter" ref="LogFormatter"></property>
	</bean>
	<aop:config proxy-target-class="true">
		<aop:pointcut expression="execution(public net.sf.json.JSONArray cn.greatwebtech.service.impl.TestRecordServiceImpl.searchData(java.lang.String))" id="searchData"/>
		<aop:advisor advice-ref="LogQueryStr" pointcut-ref="searchData"/>
	</aop:config>
		<aop:config proxy-target-class="true">
		<aop:pointcut expression="execution(public net.sf.json.JSONArray cn.greatwebtech.service.impl.TestRecordServiceImpl.searchData(java.lang.String))" id="searchData"/>
		<aop:advisor advice-ref="LogExceptions" pointcut-ref="searchData"/>
	</aop:config>
</beans>
